In [3]:
#Importing libraries
import pandas as pd
import numpy as np

In [7]:
# Defining data 
data = {
    "Grade": [10, 20, 14, 7, 18],  
    "Student": ["Student_A", "Student_B", "Student_C", "Student_D", "Student_E"]  
}

# Creating DataFrame
test_df = pd.DataFrame(data)

In [9]:
# Adding a new column by performing a mathematical operation 
test_df["Numeric_Plus_1"] = test_df["Grade"].apply(lambda x: x + 1)

# Display the DataFrame
print(test_df)

   Grade    Student  Numeric_Plus_1
0     10  Student_A              11
1     20  Student_B              21
2     14  Student_C              15
3      7  Student_D               8
4     18  Student_E              19

In [13]:
# Adding a label column 
test_df['results'] = test_df['Numeric_Plus_1'].apply(
    lambda x: 'Qualified' if x >= 10 else 'Not Qualified'
)

In [15]:
# Display the DataFrame
print(test_df)

   Grade    Student  Numeric_Plus_1        results
0     10  Student_A              11      Qualified
1     20  Student_B              21      Qualified
2     14  Student_C              15      Qualified
3      7  Student_D               8  Not Qualified
4     18  Student_E              19      Qualified